<div class="p-5 text-center bg-body-tertiary" style="width: 100%;margin: auto; height: 100vh;">
    <h1 class="mb-3">
      <span class="align-middle">
   


        <p class="display-10" style="color: rgb(255, 98, 0);">Pour toute demande de renseignements, veuillez vous adresser à l'adresse email suivante : 
            <a href="mailto:email@example.com">email&#64;example.com</a> 
            ou par téléphone au 
            <a href="tel:+1234567890">+1 510 555 7890</a>.
        </p>
        

      </span>
    </h1>
  </div> 

