  <div class="row" style="width: 95%; ">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <iframe style="width: 95vw;height: 100vh;position: relative;
     /*   margin-left: 35px;      
          margin-left: 10%; 
          margin-right: 10%; */

           margin-right: 35px;
           margin-top: 0px;
           margin-bottom: 35px;" 
           *ngIf="sanitizedUrl" [src]="sanitizedUrl" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
<!-- 
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <iframe style="width: 95vw;height: 100vh;position: relative;
           margin-left: 35px; 
           margin-right: 35px;
           margin-top: 0px;
           margin-bottom: 35px;" *ngIf="sanitizedUrl" [src]="sanitizedUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<div class="scrolling-text" [ngClass]="{ 'center': isCenter }">
  {{ currentName }}
</div> -->