/*  .scrolling-text {
    position: fixed;
    bottom: 20px;
    width: 100%;
    font-size: 24px;
    color: blue;
    text-align: start;
    animation: scroll-text 10s linear infinite;
    white-space: nowrap;
  }
  
  .scrolling-text.center {
    color: red; 
    animation-play-state: paused; 
    text-align: center;
  }
   */
  /* 
  @keyframes scroll-text {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%);
    }
  } */
   